{% load index %}
{% load static %}
<div class="full-width align-center mt10">
    <form>
        <div class="bsbb box p20 title fs19 cp-container" id="cp-container">
            {{word_list|getword:"create-link"|ucwords}}
            <div class="absolute inline-flex" style="right:20px;top:1px;">
                <div class="btn p010 hand m100" style="border-radius:4px; height: 30px;" onclick="document.getElementById('drafts-popup').classList.toggle('hidden');">
                    <p  class="fs15 noselect lh30" id='drafts'>{{newpost_actions_dict.drafts}}&nbsp;({{drafts|length}})</p>
                </div>
                <div class="bsbb full-width box mt10 dnone">
                    {% include 'posts/createpost/rich_text_editor.html' %}
                </div>
            </div>
        </div>
        <div class="bsbb box p20 title cp-container" style="margin:10px auto;">
            <div class="full-width">
                <textarea name="cp-title" style='padding-right:70px;' rows="1" onblur='this.classList.remove("active");document.getElementById("title-counter").innerHTML = "";' onfocus='this.classList.add("active");var len = this.value.length;document.getElementById("title-counter").innerHTML = len+"/"+80;' onkeyup="updateTextareaCounter(this, 'title-counter', 80);validateForm();" class="bsbb box full-width p10 lh20 fs15 text textarea" maxlength="80" placeholder="{{newpost_actions_dict.title}}"></textarea>
                <p class='noselect fs13 absolute cg2' style="bottom:0;right:10px;line-height:40px;" id='title-counter'></p>
            </div>
            <textarea name="cp-url" style='padding-right:70px;' rows="2" onblur='this.classList.remove("active");' onfocus='this.classList.add("active");' onkeyup="validateForm();" class="bsbb box full-width p10 lh20 fs15 text textarea mt10" placeholder="{{word_list|getword:'link'|ucwords}}"></textarea>
        </div>
        <div class="bsbb box p020 title cp-container">
            <div class="p100 full-width inline-flex" id="flair_container">
                <div class="nocommunity textarea p10 fs15 cg2 hand box flair" data-title="{{newpost_actions_dict.spoiler}}" id="flair" onclick="this.classList.toggle('active');" style="border-radius:18px;">&nbsp;&nbsp;Spoiler&nbsp;&nbsp;</div>
                <div class="nocommunity textarea p10 fs15 cg2 ml10 hand box flair" data-title="{{newpost_actions_dict.nsfw}}" id="flair"  onclick="this.classList.toggle('active');" style="border-radius:18px;">&nbsp;&nbsp;NSFW&nbsp;&nbsp;</div>
            </div>
        </div>
        <div class="cp-container" style="margin:10px auto;">
            <p class="fwbold cg2 mt20 mb10">{{word_list|getword:"where-to-publish"|ucwords}}</p>
            <div class="bsbb box p20 title">
                <div class="full-width" id="selected-communities">
                    <ul class="inline-block full-width">
                        <li class="inline-flex btn left p010 selected-community noselect" style="height:30px;border-radius: 20px;opacity:1;">
                            <img src="{{current_user.avatar_url}}" class="rounded sqr20" style="margin:5px 0;object-fit:cover;"/>
                            <p class="lh20 fs15 noselect" style="margin:5px 10px;">u/{{current_user.user_login}}</p>
                        </li>
                    </ul>
                </div>
                <textarea rows="1" onblur='this.classList.remove("active");' onfocus='this.classList.add("active");' class="bsbb box full-width p10 lh20 fs15 text oh" style="resize:none;height:40px;overflow:hidden;" placeholder="{{newpost_actions_dict.searchcommunity}}" id="communitysearch"></textarea>
                <div class="full-width dropdown hidden" style="width:calc(100% - 40px); max-height:220px; overflow:scroll;" id="communities">
                </div>
            </div>
        </div>
        <div class="cp-container">
            <div class="bsbb box p20 mt20 title full-width inline-block">
                <div class="bsbb p10 hand left fs15 lh20 text noselect textarea" onmouseover='this.style.opacity = 0.75;' onmouseout='this.style.opacity = 1.0;' style="width:calc(25% - 15px); text-align:center;border-radius:4px;">{{newpost_actions_dict.cancel}}</div>
                <div class="bsbb p10 m020 hand left fs15 lh20 text noselect textarea" onmouseover='this.style.opacity = 0.75;' onmouseout='this.style.opacity = 1.0;'  style="width:calc(25% - 15px); text-align:center;border-radius:4px;">{{newpost_actions_dict.clear}}</div>
                <div class="bsbb p10 hand left fs15 lh20 text noselect textarea" onmouseover='this.style.opacity = 0.75;' onmouseout='this.style.opacity = 1.0;'  style="width:calc(25% - 15px);margin-right:20px; text-align:center;border-radius:4px;">{{newpost_actions_dict.save}}</div>
                <input disabled type="submit" id="cp-sendBtn" class="btn p10 left fs15 lh20 noselect" style="border-radius:4px;height:30px;width:calc(25% - 35px); border:none; text-align:center; color:var(--main-color); font-weight:700;" value="{{newpost_actions_dict.send}}" onclick="return saveLink()"/>
            </div>
        </div>
    </form>
</div>
<script>
    const commSearchBar = document.querySelector("#communitysearch");
    const commSearchResultsContainer = document.querySelector("#communities");
    const selectedCommsContainer = document.querySelector("#selected-communities");
    const flairContainer = document.querySelector("#flair_container");

    commSearchBar.addEventListener("keyup", function(e) {
        if (e.target.value.trim().length > 0){
            getSearchResults(e.target.value);
        }else{
            commSearchResultsContainer.innerHTML = "";
            commSearchResultsContainer.classList.add("hidden");
        }
    });
    const getSearchResults = searchTerm => {
        searchTerm = searchTerm.toLowerCase();
        selectedComms = "";
        var communities = document.getElementsByClassName("selected-community");        
        for(var i = 1; i<communities.length; i++){
            if(i == 1){
                selectedComms = selectedComms + communities[i].getElementsByTagName("p")[0].innerText.split("/")[1];
            }else{
                selectedComms = selectedComms + ", " + communities[i].getElementsByTagName("p")[0].innerText.split("/")[1];
            }
        }
        j.ajax({
            type: "POST",
            url: "/pickpostcommunities",
            data: {search: searchTerm, selectedComms: selectedComms},
            success: function(response) {
                commSearchResultsContainer.innerHTML = response;
                if(commSearchResultsContainer.classList.contains("hidden")){
                    commSearchResultsContainer.classList.remove("hidden");
                }
            }
        });
    };
    function addSelectedCommunity(elem){
        commSearchBar.value = "";
        commSearchResultsContainer.innerHTML = "";
        commSearchResultsContainer.classList.add("hidden");
        selectedCommsList = selectedCommsContainer.getElementsByTagName("ul")[0];
        if(selectedCommsContainer.classList.contains("dnone")){
            selectedCommsContainer.classList.remove("dnone");
        }
        var liId = selectedCommsList.length + 1;
        var imgUrl = elem.getElementsByTagName('img')[0].src;
        var bc = elem.getElementsByTagName('img')[0].style.backgroundColor;
        var commName = elem.getElementsByTagName('p')[0].innerHTML;
        var li = document.createElement('li');
        li.setAttribute("class","inline-flex btn left p010 selected-community noselect");
        li.setAttribute("id","selected-community-"+liId);
        li.style.height = "30px";
        li.style.borderRadius = "20px";
        li.style.opacity = "1";
        var img = document.createElement('img');
        img.style.backgroundColor = bc;
        img.src = imgUrl;
        img.setAttribute("class","rounded sqr20");
        img.style.margin = "5px 0";
        var p = document.createElement('p');
        p.innerHTML = commName;
        p.setAttribute("class","lh20 fs15 noselect");
        p.style.margin = "5px 10px";
        var x = document.createElement('p');
        x.setAttribute("class","fs13 lh20 hand");
        x.style.margin = "6px 0";
        x.innerHTML = "&#x2715";
        x.setAttribute("onclick","removeSelectedCommunity("+liId+")");
        li.appendChild(img);
        li.appendChild(p);
        li.appendChild(x);
        selectedCommsList.appendChild(li);
        j.ajax({
            type: "POST",
            url: "/getcommunityflairs",
            data: {community: commName.replace("c/", "")},
            success: function(response) {
                flairContainer.innerHTML += response;
            }
        });
    }
    function removeSelectedCommunity(liId){
        var commname = document.getElementById('selected-community-'+liId).getElementsByTagName('p')[0].innerHTML.replace("c/", "");
        var flairs = document.getElementsByClassName(commname);
        for(var i=0; i<flairs.length; i++){
            flairs[i].remove();
        }
        document.getElementById('selected-community-'+liId).remove();
        selectedCommsList = selectedCommsContainer.getElementsByTagName("ul")[0];
        if(selectedCommsList.getElementsByTagName("li").length == 0){
            selectedCommsContainer.classList.add("dnone");
        }
    }
    function toggleFlair(elem, bc, tc){
        if(elem.classList.contains("active")){
            elem.style.backgroundColor = "var(--white)";
            elem.style.color = "var(--gray2)";
        }else{
            elem.style.backgroundColor = bc;
            elem.style.color = tc;
        }
        elem.classList.toggle("active");
    }
    j(document).mouseup(function(e) 
    {
        var container = j("#communities");

        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0) 
        {
            commSearchResultsContainer.classList.add("hidden");
        }
    });

    function validateForm(){
        var title = document.getElementsByName("cp-title")[0].value;
        if(title.length == 0){
            document.getElementById('cp-sendBtn').classList.remove('active');
            document.getElementById("cp-sendBtn").disabled = true;
            return false;
        }
        var url = document.getElementsByName("cp-url")[0].value;
        if(url.length == 0){
            document.getElementById('cp-sendBtn').classList.remove('active');
            document.getElementById("cp-sendBtn").disabled = true;
            return false;
        }else if(!validURL(url)){
            document.getElementById('cp-sendBtn').classList.remove('active');
            document.getElementById("cp-sendBtn").disabled = true;
            return false;
        }
        document.getElementById('cp-sendBtn').classList.add('active');
        document.getElementById("cp-sendBtn").disabled = false;
        return true;
    }

    function validURL(str) {
        var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
            '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
        return !!pattern.test(str);
    }

    function saveLink(){
        var title = document.getElementsByName("cp-title")[0].value;
        var url = document.getElementsByName("cp-url")[0].value;
        var flairDict = {};
        var flairCounter = 1;
        var flairs = document.getElementsByClassName("flair");
        for(var i = 0; i<flairs.length; i++){
            if(flairs[i].classList.contains("active")){
                flairDict[flairCounter] = flairs[i].getElementsByTagName("p")[0].innerHTML.replace("&nspb;","").replace("\xa0","")+"--"+flairs[i].classList[0];
                flairCounter++;
            }
        }
        var publishCounter = 1;
        var placesToPublish = {};
        var communities = document.getElementsByClassName("selected-community");        
        for(var i = 1; i<communities.length; i++){
            placesToPublish[publishCounter] = communities[i].getElementsByTagName("p")[0].innerText.split("/")[1];
            publishCounter++;
        }
        var data = {}
        data = {
            "post_title": title,
            "post_url": url,
            "flairs": JSON.stringify(flairDict),
            "communities": JSON.stringify(placesToPublish),
        }
        jQuery.ajax({
            type: "POST",
            url:"{% url 'savenewlink' %}",
            data: data,
            success: function(response) {
                displayAlert(response.content);
            }
        });
    }

</script>