<div class="box full-width">
    <div class="bsbb full-width p20 bcw bt inline-block">
        <a href="/u/{{user.user_login}}" class="left inline-flex">
            <img class="sqr40 rounded lh30 left" src="{{user.avatar_url}}"/>
            <div class="ml10 left">
                <p class="lh20 fwblack ctitle">{{user.display_name}}</p>
                <p class="cg2 lh20">u/{{user.user_login}}</p>
            </div>
        </a>
        <div class="right" style="top:5.5px;">
            <p class="btn hand"><span class="p115">{{right_menu_dict.follow}}</span></p>
        </div>
    </div>
</div>
