.answer-template ol{margin-left:20px;}
.answer-template ul{margin-left:20px;}
.answer-template h1{font-size: 19px; margin: 10px 0 5px 0;}
.answer-template h2{font-size: 19px; margin: 10px 0 5px 0;}
.answer-template h3{font-size: 19px; margin: 10px 0 5px 0;}
.answer-template h4{font-size: 19px; margin: 10px 0 5px 0;}
.answer-template h5{font-size: 19px; margin: 10px 0 5px 0;}
.answer-template h6{font-size: 19px; margin: 10px 0 5px 0;}
.answer-template ul{list-style-type: disc;}