<div class='bsbb full-width box p10 inline-block m100 hand' id='photo-frame-{{post.ID|escapejs}}'>
    {% for i in post.post_images %}
        {% if post.post_images|length == 1 %}
            <div class='left photo-frame-item hand' style="height:400px; width:100%; object-fit:contain; background-color:var(--black);">
                <img src='{{i}}' class='full'/>
            </div>
        {% elif forloop.counter < 5 and post.post_images|length >= 4 %}
            <div class='left photo-frame-item hand' >
                <img src='{{i}}' class='full'/>
            </div>
        {% elif forloop.counter < 3 and post.post_images|length < 4 %}
            <div class='left photo-frame-item hand' >
                <img src='{{i}}' class='full'/>
            </div>
        {% else %}
            <div class='absolute hand' style='right:10px;bottom:10px; width:calc(50% - 15px);background-color: rgba(0,26,51, 0.3); height:195px;line-height:200px;border-radius:4px;'>
                <p class='full-width' style='font-weight:bold;font-size:28px;color:white;text-align:center;'>+{{post.post_images|length|add:"-3"}}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>