<div class='question-template-box item'>
    <div class='full-shadow-border box question-template-box-oc'>
        <p style='font-weight:var(--bold);font-size:14px;line-height:17px;color:var(--title-color);'>{{question.post_title}}</p>
        <div class='question-template-box-ic'>
            <a href='".get_permalink()."' class='left'>
                <p class='btn'>{{post_template_dict.answer}}</p>
            </a>
            <a href='#' class='right'>
                <p class='btn'>{{post_template_dict.send}}</p>
            </a>
        </div>
    </div>
</div>