
{% load static %}
<!doctype html>
<html>
    <head>
        <link rel='stylesheet' href='https://unpkg.com/plyr@3/dist/plyr.css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sosyorol-style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sossytrap.css' %}">
        <style>@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');</style>
        <!--
        <script>
            window.googletag = window.googletag || {cmd: []};
                googletag.cmd.push(function() {
                googletag.defineSlot('/21895899490/test', ['fluid'], 'div-gpt-ad-1578423882440-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>
        <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
        -->
        <!-- Search Engine Verifications -->
        <meta name="yandex-verification" content="23db2ca9699f7ee4" />
        <meta name="google-signin-client_id" content="829117115119-uv60ndd5g170haho0823oi93hblvdorn.apps.googleusercontent.com">
        <meta name="google-site-verification" content="6LpEhGtmOERKVp-v3T0E_bqS_Xivm4MxlCWeiMis1gA" />
        <meta name="yandex-verification" content="1f1570c32c0641b0" />
        <meta name="msvalidate.01" content="CECF5F89608ACBEEB8DD48B37BDFCC3C" />
        <!-- Search Engine Verifications -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8">
        <meta name="apple-itunes-app" content="app-id=1469437300">
        <!-- Pinterest -->
        <meta name="p:domain_verify" content="b3d9e883f47854b61a31316e3f38f027"/>
        <!-- Pinterest -->
        <link rel="stylesheet" type="text/css" href="{% static '/assets/fonts/fontawesome/css/all.css' %}">
        <script defer src="{% static '/assets/fonts/fontawesome/js/all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/new/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/new/index-v81.js' %}"></script>
        <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
        <script>
            var j = jQuery.noConflict()
            j({property: 0}).animate({property: 105}, {
                    duration: 2000,
                    step: function() {
                        var _percent = Math.round(this.property);
                        j('#page-loader').css('width',  _percent+"%");
                        if(_percent == 105) {
                            j("#page-loader").addClass("done");
                        }
                    },
                    complete: function() {
                    }
                });
            j(window).on('load', function(){
                j("#page-loader").addClass("done");
            });
        </script>
