
<!--
<script>
    window.googletag = window.googletag || {cmd: []};
        googletag.cmd.push(function() {
        googletag.defineSlot('/21895899490/test', ['fluid'], 'div-gpt-ad-1578423882440-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
</script>
<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
-->
<!-- Search Engine Verifications -->
<meta name="yandex-verification" content="23db2ca9699f7ee4" />
<meta name="google-signin-client_id" content="829117115119-uv60ndd5g170haho0823oi93hblvdorn.apps.googleusercontent.com">
<meta name="google-site-verification" content="6LpEhGtmOERKVp-v3T0E_bqS_Xivm4MxlCWeiMis1gA" />
<meta name="yandex-verification" content="1f1570c32c0641b0" />
<meta name="msvalidate.01" content="CECF5F89608ACBEEB8DD48B37BDFCC3C" />
<!-- Search Engine Verifications -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8">
<meta name="apple-itunes-app" content="app-id=1469437300">
<!-- Pinterest -->
<meta name="p:domain_verify" content="b3d9e883f47854b61a31316e3f38f027"/>
<!-- Pinterest -->
<link rel="stylesheet" href="/css/sosyorol-style.css">
<link href="/assets/fonts/fontawesome/css/all.css" rel="stylesheet">
<script defer src="/assets/fonts/fontawesome/js/all.js"></script>
<script type="text/javascript" src="js/new/jquery.min.js"></script>
<script type="text/javascript" src="/js/new/index-v81.js"></script>
<!--- <script type="text/javascript" src="echo get_stylesheet_directory_uri().'/js/new/bootstrap.min.js';"></script> --!>