{% load static %}
{% load index %}
{% include 'head.html' %}
        <title>Lists - Sosyorol</title>
        <link rel="stylesheet" href="{% static 'css/left-menu-v2.css' %}">
        <link rel="stylesheet" href="{% static 'css/right-menu-v9.css' %}">
        <link rel="stylesheet" href="{% static 'css/feed-v42.css' %}">
        <link rel="stylesheet" href="{% static 'css/answer-template-v9.css' %}">
        <link rel="stylesheet" href="{% static 'css/comments-v1.css' %}">
        <script src="{% static 'js/new/autosize.min.js' %}"></script>
        <script src="{% static 'js/new/user-list.min.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'includes/_lang_popup.html' %}
        <div class="full-width inline-flex">
            {% include 'includes/_left_menu.html' %}
            <style>
                .box{box-shadow:0px 3px 4px rgba(173,173,173, 0.53); background-color:var(--white);width:812px;margin:auto}
                .box .box{box-shadow:none;}
                .thick-line{width:calc(100% - 80px); margin:50px 40px 7px 40px; border-top:3px solid var(--border4);}
            </style>
            <div class="section-middle">
                <div class="bsbb full-shadow-border box p2040" style="margin-top:8px;">
                    <h1 class="fs19 fwbold ctitle">{{lists_dict.lists}}</h1>
                    <p class="lh24 m200 fs15 cg2 mxw500">{{lists_dict.listsPageDesc}}</p>
                    <div class="full-width inline-flex mt8">
                        <p class="fs15 cg2 p1030 bcg hand border2 br19 hoverb">{{lists_dict.createList}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                        <p class="fs15 cg2 p1030 bcg hand border2 br19 hoverb">{{lists_dict.followLists}}</p>
                    </div>
                </div>
                <div class="bsbb full-shadow-border box p2040" style="margin-top: 28px;">
                    <div class="inline-flex full-width">
                        <h1 class="fs19 fwbold lh40 ctitle">{{lists_dict.yourlists}}</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div>
                            <input type="text" class="fs15 cg2 p10 bcg hand br19 border3" style="width:102px;padding-left:50px;" placeholder="{{header_dict.search}}"/>
                            <i class="fa fa-search fs15 cg2" style="position:absolute;top:12px; left:19px;"></i>
                        </div>
                        <div class="absolute inline-flex bb4" style="right:0;top:-3px;">
                            <p class="hand p15500 ctitle activebtb3b fs15" style="text-align: right;top:1.5px;">{{lists_dict.all}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                            <p class="hand p15500 ctitle fs15" style="text-align: right;top:1.5px;">{{lists_dict.createdbyyou}}</p>
                        </div>
                    </div>
                    <div class="inline-block full-width">
                        {% if followedlists|length > 3%}
                            {% for list in followedlists %}
                                {% if forloop.counter0 < 4 %}
                                    {% if forloop.counter0 >= followedlists|length %}
                                        {% if forloop.counter0|divisibleby:2 %}
                                            <a href="create" class="p20 border4 br20 right m200 inline-flex hand" style="width:288px;">
                                                <div class="icon-bg full-shadow2">
                                                    <svg class="svg20" viewBox="0 0 20 20">
                                                        <g>
                                                            <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 17.488281 7.410156 L 12.761719 7.410156 L 12.761719 2.671875 C 12.761719 1.199219 11.558594 0.00390625 10.082031 0.00390625 C 8.609375 0.00390625 7.40625 1.199219 7.40625 2.671875 L 7.40625 7.410156 L 2.667969 7.410156 C 1.195312 7.410156 0 8.605469 0 10.078125 C 0 11.550781 1.195312 12.746094 2.667969 12.746094 L 7.40625 12.746094 L 7.40625 17.484375 C 7.40625 18.957031 8.609375 20.152344 10.082031 20.152344 C 11.558594 20.152344 12.761719 18.957031 12.761719 17.484375 L 12.761719 12.746094 L 17.488281 12.746094 C 18.960938 12.746094 20.15625 11.550781 20.15625 10.078125 C 20.15625 8.605469 18.960938 7.410156 17.488281 7.410156 Z M 17.488281 7.410156 "/>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <p class="fs15 lh60 fwbold ml28">{{lists_dict.addlist}}</p>
                                            </a>
                                        {% else %}
                                            <a href="create" class="p20 border4 br20 left m200 inline-flex hand" style="width:288px;">
                                                <div class="icon-bg full-shadow2">
                                                    <svg class="svg20" viewBox="0 0 20 20">
                                                        <g>
                                                            <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 17.488281 7.410156 L 12.761719 7.410156 L 12.761719 2.671875 C 12.761719 1.199219 11.558594 0.00390625 10.082031 0.00390625 C 8.609375 0.00390625 7.40625 1.199219 7.40625 2.671875 L 7.40625 7.410156 L 2.667969 7.410156 C 1.195312 7.410156 0 8.605469 0 10.078125 C 0 11.550781 1.195312 12.746094 2.667969 12.746094 L 7.40625 12.746094 L 7.40625 17.484375 C 7.40625 18.957031 8.609375 20.152344 10.082031 20.152344 C 11.558594 20.152344 12.761719 18.957031 12.761719 17.484375 L 12.761719 12.746094 L 17.488281 12.746094 C 18.960938 12.746094 20.15625 11.550781 20.15625 10.078125 C 20.15625 8.605469 18.960938 7.410156 17.488281 7.410156 Z M 17.488281 7.410156 "/>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <p class="fs15 lh60 fwbold ml28">{{lists_dict.addlist}}</p>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        {% if forloop.counter0|divisibleby:2 %}
                                            <a href="{{ followedlists|getlist:forloop.counter0|getdata:'url' }}" class="p20 border4 br20 left m200 inline-block hand bcgrayish" style="width:288px;">
                                                <img src="{{ followedlists|getlist:forloop.counter0|getdata:'image' }}" class="sqr60 rounded left full-shadow"/>
                                                <p class="fs15 lh60 fwbold ml28 left">{{ followedlists|getlist:forloop.counter0|getdata:'name'}}</p>
                                                <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand right' style='margin-top:9.5px;transform: rotate(90deg);'>
                                                    <g>
                                                        <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                        <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                        <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                    </g>
                                                </svg>
                                            </a>
                                        {% else %}
                                            <a href="{{ followedlists|getlist:forloop.counter0|getdata:'url' }}" class="p20 border4 br20 right m200 inline-block hand bcgrayish" style="width:288px;">
                                                <img src="{{ followedlists|getlist:forloop.counter0|getdata:'image' }}" class="sqr60 rounded full-shadow left"/>
                                                <p class="fs15 lh60 fwbold ml28 left">{{ followedlists|getlist:forloop.counter0|getdata:'name' }}</p>
                                                <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand right' style='margin-top:9.5px;transform: rotate(90deg);'>
                                                    <g>
                                                        <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                        <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                        <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                    </g>
                                                </svg>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in '0123'|make_list %}
                                {% if forloop.counter0 >= followedlists|length %}
                                    {% if forloop.counter0|divisibleby:2 %}
                                        <a href="create" class="p20 border4 br20 left m200 inline-flex hand" style="width:288px;">
                                            <div class="icon-bg full-shadow2">
                                                <svg class="svg20" viewBox="0 0 20 20">
                                                    <g>
                                                        <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 17.488281 7.410156 L 12.761719 7.410156 L 12.761719 2.671875 C 12.761719 1.199219 11.558594 0.00390625 10.082031 0.00390625 C 8.609375 0.00390625 7.40625 1.199219 7.40625 2.671875 L 7.40625 7.410156 L 2.667969 7.410156 C 1.195312 7.410156 0 8.605469 0 10.078125 C 0 11.550781 1.195312 12.746094 2.667969 12.746094 L 7.40625 12.746094 L 7.40625 17.484375 C 7.40625 18.957031 8.609375 20.152344 10.082031 20.152344 C 11.558594 20.152344 12.761719 18.957031 12.761719 17.484375 L 12.761719 12.746094 L 17.488281 12.746094 C 18.960938 12.746094 20.15625 11.550781 20.15625 10.078125 C 20.15625 8.605469 18.960938 7.410156 17.488281 7.410156 Z M 17.488281 7.410156 "/>
                                                    </g>
                                                </svg>
                                            </div>
                                            <p class="fs15 lh60 fwbold ml28">{{lists_dict.addlist}}</p>
                                        </a>
                                    {% else %}
                                        <a href="create" class="p20 border4 br20 right m200 inline-flex hand" style="width:288px;">
                                            <div class="icon-bg full-shadow2">
                                                <svg class="svg20" viewBox="0 0 20 20">
                                                    <g>
                                                        <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 17.488281 7.410156 L 12.761719 7.410156 L 12.761719 2.671875 C 12.761719 1.199219 11.558594 0.00390625 10.082031 0.00390625 C 8.609375 0.00390625 7.40625 1.199219 7.40625 2.671875 L 7.40625 7.410156 L 2.667969 7.410156 C 1.195312 7.410156 0 8.605469 0 10.078125 C 0 11.550781 1.195312 12.746094 2.667969 12.746094 L 7.40625 12.746094 L 7.40625 17.484375 C 7.40625 18.957031 8.609375 20.152344 10.082031 20.152344 C 11.558594 20.152344 12.761719 18.957031 12.761719 17.484375 L 12.761719 12.746094 L 17.488281 12.746094 C 18.960938 12.746094 20.15625 11.550781 20.15625 10.078125 C 20.15625 8.605469 18.960938 7.410156 17.488281 7.410156 Z M 17.488281 7.410156 "/>
                                                    </g>
                                                </svg>
                                            </div>
                                            <p class="fs15 lh60 fwbold ml28">{{lists_dict.addlist}}</p>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% if forloop.counter0|divisibleby:2 %}
                                        <a href="{{ followedlists|getlist:forloop.counter0|getdata:'url' }}" class="p20 border4 br20 left m200 inline-block hand bcgrayish" style="width:288px;">
                                            <img src="{{ followedlists|getlist:forloop.counter0|getdata:'image' }}" class="sqr60 rounded full-shadow left"/>
                                            <p class="fs15 lh60 fwbold ml28 left">{{ followedlists|getlist:forloop.counter0|getdata:'name'}}</p>
                                            <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand right' style='margin-top:9.5px;transform: rotate(90deg);'>
                                                <g>
                                                    <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                    <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                    <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                </g>
                                            </svg>
                                        </a>
                                    {% else %}
                                        <a href="{{ followedlists|getlist:forloop.counter0|getdata:'url' }}" class="p20 border4 br20 right m200 inline-block hand bcgrayish" style="width:288px;">
                                            <img src="{{ followedlists|getlist:forloop.counter0|getdata:'image' }}" class="sqr60 rounded full-shadow left"/>
                                            <p class="fs15 lh60 fwbold ml28 left">{{ followedlists|getlist:forloop.counter0|getdata:'name' }}</p>
                                            <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand right' style='margin-top:9.5px;transform: rotate(90deg);'>
                                                <g>
                                                    <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                    <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                    <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                </g>
                                            </svg>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="thick-line"></div>
                <div class="inline-flex p2040">
                    <h1 class="fs19 fwbold lh40 ctitle">{{lists_dict.listsyoumaylike}}</h1>
                    <p class="bgb" style="top:9px;margin-left:7px;">{{lists_dict.featured}}</p>
                </div>
                <p class="p040 fs15 ctitle" style="top: -15px;">{{lists_dict.listsyoumaylikeinfo}}</p>
                <div class="bsbb inline-block p040 full-width" style="margin-top:16px;">
                    {% for list in listsyoumaylike %}
                        {% if forloop.counter == 1 %}
                            <a href="/c/lists/{{list.url}}" class="left box" style="position:relative;width:calc(33% - 23px); height:460px;">
                                <div class="full-width" style="height:93px;background-color: {{list.color}};border-top-left-radius:3px;border-top-right-radius:3px;"></div>
                                <img class='rounded sqr130 twb full-shadow2' style="margin:auto;margin-top:-70px;left:calc(50% - 70px);" src="{{list.photo_large}}"/>
                                <p class="p020 mt20 fs19 fwblack ctitle">{{list.name}}</p>
                                <p class="p020 fwlight fs13 cg2 lh22 mt10">{{list.posts|length}}&nbsp;{{lists_dict.post}}</p>
                                <p class="p020 fs15 cg2 mt10 lh24">{{list.description}}</p>
                                <div class="absolute full-width" style="left:0; bottom:5px;">
                                    <div class="bsbb full-width p020 mt20 inline-flex">
                                        <p class="cb fs15"><span class="fwblack">{{list.members|length}}</span>&nbsp;{{lists_dict.members}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <p class="cb fs15"><span class="fwblack">{{list.followers|length}}</span>&nbsp;{{lists_dict.followers}}</p>
                                    </div>
                                    <div class="bsbb full-width p020 m240 inline-flex">
                                        {% if list in followedlists %}
                                        <p class="btn" onclick="return unfollowList(this, {{list.ID}})" style="z-index:99;padding-left: 20px;padding-right: 20px;">{{lists_dict.following}}</p>
                                        {% else %}
                                        <p class="btn" onclick="return followList(this, {{list.ID}})" style="z-index:99;">{{lists_dict.follow}}</p>
                                        {% endif %}
                                        <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand' style='margin-top:-7px;margin-left:10px;transform: rotate(90deg);'>
                                            <g>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <a href="/c/lists/{{list.url}}" class="left box" style="position:relative;width:calc(33% - 23px); margin: 0 34px; height:460px;">
                                <div class="full-width" style="height:93px;background-color: {{list.color}};border-top-left-radius:3px;border-top-right-radius:3px;"></div>
                                <img class='rounded sqr130 twb full-shadow2' style="margin:auto;margin-top:-70px;left:calc(50% - 70px);" src="{{list.photo_large}}"/>
                                <p class="p020 mt20 fs19 fwblack ctitle">{{list.name}}</p>
                                <p class="p020 fwlight fs13 cg2 lh22 mt10">{{list.posts|length}}&nbsp;{{lists_dict.post}}</p>
                                <p class="p020 fs15 cg2 mt10 lh24">{{list.description}}</p>
                                <div class="absolute full-width" style="left:0; bottom:5px;">
                                    <div class="bsbb full-width p020 mt20 inline-flex">
                                        <p class="cb fs15"><span class="fwblack">{{list.members|length}}</span>&nbsp;{{lists_dict.members}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <p class="cb fs15"><span class="fwblack">{{list.followers|length}}</span>&nbsp;{{lists_dict.followers}}</p>
                                    </div>
                                    <div class="bsbb full-width p020 m240 inline-flex">
                                        {% if list in followedlists %}
                                        <p class="btn" onclick="return unfollowList(this, {{list.ID}})"  style="z-index:99;padding-left: 20px;padding-right: 20px;">{{lists_dict.following}}</p>
                                        {% else %}
                                        <p class="btn" onclick="return followList(this, {{list.ID}})" style="z-index:99;">{{lists_dict.follow}}</p>
                                        {% endif %}
                                        <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand' style='margin-top:-7px;margin-left:10px;transform: rotate(90deg);'>
                                            <g>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <a href="/c/lists/{{list.url}}" class="left box" style="position:relative;width:calc(33% - 23px); height:460px;">
                                <div class="full-width" style="height:93px;background-color: {{list.color}};border-top-left-radius:3px;border-top-right-radius:3px;"></div>
                                <img class='rounded sqr130 twb full-shadow2' style="margin:auto;margin-top:-70px;left:calc(50% - 70px);" src="{{list.photo_large}}"/>
                                <p class="p020 mt20 fs19 fwblack ctitle">{{list.name}}</p>
                                <p class="p020 fwlight fs13 cg2 lh22 mt10">{{list.posts|length}}&nbsp;{{lists_dict.post}}</p>
                                <p class="p020 fs15 cg2 mt10 lh24">{{list.description}}</p>
                                <div class="absolute full-width" style="left:0; bottom:5px;">
                                    <div class="bsbb full-width p020 mt20 inline-flex">
                                        <p class="cb fs15"><span class="fwblack">{{list.members|length}}</span>&nbsp;{{lists_dict.members}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <p class="cb fs15"><span class="fwblack">{{list.followers|length}}</span>&nbsp;{{lists_dict.followers}}</p>
                                    </div>
                                    <div class="bsbb full-width p020 m240 inline-flex">
                                        {% if list in followedlists %}
                                        <p class="btn" onclick="return unfollowList(this, {{list.ID}})"  style="z-index:99;padding-left: 20px;padding-right: 20px;">{{lists_dict.following}}</p>
                                        {% else %}
                                        <p class="btn" onclick="return followList(this, {{list.ID}})" style="z-index:99;">{{lists_dict.follow}}</p>
                                        {% endif %}
                                        <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand' style='margin-top:-7px;margin-left:10px;transform: rotate(90deg);'>
                                            <g>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                                <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="bsbb full-width" style="text-align:center">
                    <i class="fa fa-chevron-down cg2" aria-hidden="true" style="margin-top:33px;"></i>
                </div>
                <div class="thick-line" style="margin-top: 14px;"></div>
            </div>
        </div>
        <script>
            var j = jQuery.noConflict();
            function followList(elem, listID){
                j.ajax({
                  type: "POST",
                  url:"{% url 'followlist' %}",
                  data: {csrfmiddlewaretoken: '{{csrf_token}}', redirect: window.location.href, list_id: listID},
                  success: function(response) {
                      elem.innerHTML = '{{lists_dict.following}}';
                      elem.style.paddingLeft = "20px";
                      elem.style.paddingRight = "20px";
                    return false;
                  }
                });
                return false;
            }
        </script>
    </body>
</html>