{% load static %}
{% include 'head.html' %}
        <title>Lists - Sosyorol</title>
        <link rel="stylesheet" href="{% static 'css/left-menu-v2.css' %}">
        <link rel="stylesheet" href="{% static 'css/right-menu-v9.css' %}">
        <link rel="stylesheet" href="{% static 'css/feed-v42.css' %}">
        <link rel="stylesheet" href="{% static 'css/answer-template-v9.css' %}">
        <link rel="stylesheet" href="{% static 'css/comments-v1.css' %}">
        <script src="{% static 'js/new/autosize.min.js' %}"></script>
        <script src="{% static 'js/new/user-list.min.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'includes/_lang_popup.html' %}
        <div class="full-width inline-flex">
            {% include 'includes/_left_menu.html' %}
            <style>
                .box{box-shadow:0px 3px 4px rgba(173,173,173, 0.53); background-color:var(--white);width:812px;margin:auto}
                .box .box{box-shadow:none;}
                .thick-line{width:calc(100% - 80px); margin:50px 40px 7px 40px; border-top:3px solid var(--border4);}
            </style>
            <div class="section-middle" style="margin-top:px;">
                <div class="bsbb full-shadow-border box p2040" style="margin-top:8px;">
                    <h1 class="fs28 fwbold ctitle">{{lists_dict.lists}}</h1>
                    <p class="lh24 m200 fs15 cg2 mxw500">{{lists_dict.listsPageDesc}}</p>
                    <div class="full-width inline-flex mt8">
                        <p class="fs14 cg2 p1030 bcg hand border2 br19">{{lists_dict.createList}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                        <p class="fs14 cg2 p1030 bcg hand border2 br19">{{lists_dict.followLists}}</p>
                    </div>
                </div>
                <div class="bsbb full-shadow-border box p2040" style="margin-top: 28px;">
                    <div class="inline-flex full-width">
                        <h1 class="fs28 fwbold lh40 ctitle">{{lists_dict.yourlists}}</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div>
                            <input type="text" class="fs15 cg2 p10 bcg hand br19 border3" style="width:102px;padding-left:50px;" placeholder="{{header_dict.search}}"/>
                            <i class="fa fa-search fs15 cg2" style="position:absolute;top:12px; left:19px;"></i>
                        </div>
                        <div class="absolute inline-flex bb4" style="right:0;top:-3px;">
                            <p class="hand p15500 ctitle activebtb3b" style="text-align: right;top:1.5px;">{{lists_dict.all}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                            <p class="hand p15500 ctitle" style="text-align: right;top:1.5px;">{{lists_dict.createdbyyou}}</p>
                        </div>
                    </div>
                    <div class="inline-block full-width">
                        <div class="p20 border4 br20 left m200 inline-flex hand" style="width:288px;">
                            <div class="icon-bg full-shadow2">
                                <svg class="svg25" viewBox="0 0 25 25">
                                    <g>
                                        <path style="stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 21.863281 9.261719 L 15.953125 9.261719 L 15.953125 3.339844 C 15.953125 1.5 14.449219 0.00390625 12.605469 0.00390625 C 10.761719 0.00390625 9.257812 1.5 9.257812 3.339844 L 9.257812 9.261719 L 3.335938 9.261719 C 1.496094 9.261719 0 10.753906 0 12.597656 C 0 14.441406 1.496094 15.933594 3.335938 15.933594 L 9.257812 15.933594 L 9.257812 21.855469 C 9.257812 23.699219 10.761719 25.191406 12.605469 25.191406 C 14.449219 25.191406 15.953125 23.699219 15.953125 21.855469 L 15.953125 15.933594 L 21.863281 15.933594 C 23.703125 15.933594 25.195312 14.441406 25.195312 12.597656 C 25.195312 10.753906 23.703125 9.261719 21.863281 9.261719 Z M 21.863281 9.261719 "/>
                                    </g>
                                </svg>
                            </div>
                            <p class="fs20 lh72 fwbold ml28">{{lists_dict.addlist}}</p>
                        </div>
                        <div class="p20 border4 br20 right m200 inline-flex hand" style="width:288px;">
                            <div class="icon-bg full-shadow2">
                                <svg class="svg25" viewBox="0 0 25 25">
                                    <g>
                                        <path style="stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 21.863281 9.261719 L 15.953125 9.261719 L 15.953125 3.339844 C 15.953125 1.5 14.449219 0.00390625 12.605469 0.00390625 C 10.761719 0.00390625 9.257812 1.5 9.257812 3.339844 L 9.257812 9.261719 L 3.335938 9.261719 C 1.496094 9.261719 0 10.753906 0 12.597656 C 0 14.441406 1.496094 15.933594 3.335938 15.933594 L 9.257812 15.933594 L 9.257812 21.855469 C 9.257812 23.699219 10.761719 25.191406 12.605469 25.191406 C 14.449219 25.191406 15.953125 23.699219 15.953125 21.855469 L 15.953125 15.933594 L 21.863281 15.933594 C 23.703125 15.933594 25.195312 14.441406 25.195312 12.597656 C 25.195312 10.753906 23.703125 9.261719 21.863281 9.261719 Z M 21.863281 9.261719 "/>
                                    </g>
                                </svg>
                            </div>
                            <p class="fs20 lh72 fwbold ml28">{{lists_dict.addlist}}</p>
                        </div>
                        <div class="p20 border4 br20 left m200 inline-flex hand" style="width:288px;">
                            <div class="icon-bg full-shadow2">
                                <svg class="svg25" viewBox="0 0 25 25">
                                    <g>
                                        <path style="stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 21.863281 9.261719 L 15.953125 9.261719 L 15.953125 3.339844 C 15.953125 1.5 14.449219 0.00390625 12.605469 0.00390625 C 10.761719 0.00390625 9.257812 1.5 9.257812 3.339844 L 9.257812 9.261719 L 3.335938 9.261719 C 1.496094 9.261719 0 10.753906 0 12.597656 C 0 14.441406 1.496094 15.933594 3.335938 15.933594 L 9.257812 15.933594 L 9.257812 21.855469 C 9.257812 23.699219 10.761719 25.191406 12.605469 25.191406 C 14.449219 25.191406 15.953125 23.699219 15.953125 21.855469 L 15.953125 15.933594 L 21.863281 15.933594 C 23.703125 15.933594 25.195312 14.441406 25.195312 12.597656 C 25.195312 10.753906 23.703125 9.261719 21.863281 9.261719 Z M 21.863281 9.261719 "/>
                                    </g>
                                </svg>
                            </div>
                            <p class="fs20 lh72 fwbold ml28">{{lists_dict.addlist}}</p>
                        </div>
                        <div class="p20 border4 br20 right m200 inline-flex hand" style="width:288px;">
                            <div class="icon-bg full-shadow2">
                                <svg class="svg25" viewBox="0 0 25 25">
                                    <g>
                                        <path style="stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 21.863281 9.261719 L 15.953125 9.261719 L 15.953125 3.339844 C 15.953125 1.5 14.449219 0.00390625 12.605469 0.00390625 C 10.761719 0.00390625 9.257812 1.5 9.257812 3.339844 L 9.257812 9.261719 L 3.335938 9.261719 C 1.496094 9.261719 0 10.753906 0 12.597656 C 0 14.441406 1.496094 15.933594 3.335938 15.933594 L 9.257812 15.933594 L 9.257812 21.855469 C 9.257812 23.699219 10.761719 25.191406 12.605469 25.191406 C 14.449219 25.191406 15.953125 23.699219 15.953125 21.855469 L 15.953125 15.933594 L 21.863281 15.933594 C 23.703125 15.933594 25.195312 14.441406 25.195312 12.597656 C 25.195312 10.753906 23.703125 9.261719 21.863281 9.261719 Z M 21.863281 9.261719 "/>
                                    </g>
                                </svg>
                            </div>
                            <p class="fs20 lh72 fwbold ml28">{{lists_dict.addlist}}</p>
                        </div>
                    </div>
                </div>
                <div class="thick-line"></div>
                <div class="inline-flex p2040">
                    <h1 class="fs28 fwbold lh40 ctitle">{{lists_dict.listsyoumaylike}}</h1>
                    <p class="bgb" style="top:9px;margin-left:7px;">{{lists_dict.featured}}</p>
                </div>
                <p class="p040 fs17 ctitle" style="top: -15px;">{{lists_dict.listsyoumaylikeinfo}}</p>
                <div class="bsbb inline-block p040 full-width" style="margin-top:16px;">
                    {% for list in listsyoumaylike %}
                        {% if forloop.counter == 1 %}
                            <div class="left box" style="position:relative;width:calc(33% - 23px);">
                                <div class="full-width" style="height:93px;background-color: {{list.color}};"></div>
                                <img class='rounded sqr130 twb full-shadow2' style="margin:auto;margin-top:-70px;left:calc(50% - 70px);" src="{{list.photo_large}}"/>
                                <p class="p020 mt10 fs22 fwblack ctitle">{{list.name}}</p>
                                <p class="p020 fwlight cg2">{{list.posts|length}}&nbsp;{{lists_dict.post}}</p>
                                <p class="p020 fs17 cg2 mt10">{{list.description}}</p>
                                <div class="bsbb full-width p020 mt20 inline-flex">
                                    <p class="cb"><span class="fwblack">{{list.members|length}}</span>&nbsp;{{lists_dict.members}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <p class="cb"><span class="fwblack">{{list.followers|length}}</span>&nbsp;{{lists_dict.followers}}</p>
                                </div>
                                <div class="bsbb full-width p020 m240 inline-flex">
                                    <p class="btn">{{lists_dict.follow}}</p>
                                    <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand' style='margin-top:-7px;margin-left:10px;transform: rotate(90deg);'>
                                        <g>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <div class="left box " style="position:relative;width:calc(33% - 23px); margin:0 34px;">
                                <div class="full-width" style="height:93px;background-color: {{list.color}};"></div>
                                <img class='rounded sqr130 twb full-shadow2' style="margin:auto;margin-top:-70px;left:calc(50% - 70px);" src="{{list.photo_large}}"/>
                                <p class="p020 mt10 fs22 fwblack ctitle">{{list.name}}</p>
                                <p class="p020 fwlight cg2">{{list.posts|length}}&nbsp;{{lists_dict.post}}</p>
                                <p class="p020 fs17 cg2 mt10">{{list.description}}</p>
                                <div class="bsbb full-width p020 mt20 inline-flex">
                                    <p class="cb"><span class="fwblack">{{list.members|length}}</span>&nbsp;{{lists_dict.members}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <p class="cb"><span class="fwblack">{{list.followers|length}}</span>&nbsp;{{lists_dict.followers}}</p>
                                </div>
                                <div class="bsbb full-width p020 m240 inline-flex">
                                    <p class="btn">{{lists_dict.follow}}</p>
                                    <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand' style='margin-top:-7px;margin-left:10px;transform: rotate(90deg);'>
                                        <g>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <div class="left box" style="position:relative;width:calc(33% - 23px);">
                                <div class="full-width" style="height:93px;background-color: {{list.color}};"></div>
                                <img class='rounded sqr130 twb full-shadow2' style="margin:auto;margin-top:-70px;left:calc(50% - 70px);" src="{{list.photo_large}}"/>
                                <p class="p020 mt10 fs22 fwblack ctitle">{{list.name}}</p>
                                <p class="p020 fwlight cg2">{{list.posts|length}}&nbsp;{{lists_dict.post}}</p>
                                <p class="p020 fs17 cg2 mt10">{{list.description}}</p>
                                <div class="bsbb full-width p020 mt20 inline-flex">
                                    <p class="cb"><span class="fwblack">{{list.members|length}}</span>&nbsp;{{lists_dict.members}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <p class="cb"><span class="fwblack">{{list.followers|length}}</span>&nbsp;{{lists_dict.followers}}</p>
                                </div>
                                <div class="bsbb full-width p020 m240 inline-flex">
                                    <p class="btn">{{lists_dict.follow}}</p>
                                    <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand' style='margin-top:-7px;margin-left:10px;transform: rotate(90deg);'>
                                        <g>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for list in listsyoumaylike %}
                        {% if forloop.counter == 1 %}
                            <div class="left box " style="position:relative;width:calc(33% - 23px); margin:0 34px;">
                                <div class="full-width" style="height:93px;background-color: {{list.color}};"></div>
                                <img class='rounded sqr130 twb full-shadow2' style="margin:auto;margin-top:-70px;left:calc(50% - 70px);" src="{{list.photo_large}}"/>
                                <p class="p020 mt10 fs22 fwblack ctitle">{{list.name}}</p>
                                <p class="p020 fwlight cg2">{{list.posts|length}}&nbsp;{{lists_dict.post}}</p>
                                <p class="p020 fs17 cg2 mt10">{{list.description}}</p>
                                <div class="bsbb full-width p020 mt20 inline-flex">
                                    <p class="cb"><span class="fwblack">{{list.members|length}}</span>&nbsp;{{lists_dict.members}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <p class="cb"><span class="fwblack">{{list.followers|length}}</span>&nbsp;{{lists_dict.followers}}</p>
                                </div>
                                <div class="bsbb full-width p020 m240 inline-flex">
                                    <p class="btn">{{lists_dict.follow}}</p>
                                    <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand' style='margin-top:-7px;margin-left:10px;transform: rotate(90deg);'>
                                        <g>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for list in listsyoumaylike %}
                        {% if forloop.counter == 1 %}
                            <div class="left box" style="position:relative;width:calc(33% - 23px);">
                                <div class="full-width" style="height:93px;background-color: {{list.color}};"></div>
                                <img class='rounded sqr130 twb full-shadow2' style="margin:auto;margin-top:-70px;left:calc(50% - 70px);" src="{{list.photo_large}}"/>
                                <p class="p020 mt10 fs22 fwblack ctitle">{{list.name}}</p>
                                <p class="p020 fwlight cg2">{{list.posts|length}}&nbsp;{{lists_dict.post}}</p>
                                <p class="p020 fs17 cg2 mt10">{{list.description}}</p>
                                <div class="bsbb full-width p020 mt20 inline-flex">
                                    <p class="cb"><span class="fwblack">{{list.members|length}}</span>&nbsp;{{lists_dict.members}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <p class="cb"><span class="fwblack">{{list.followers|length}}</span>&nbsp;{{lists_dict.followers}}</p>
                                </div>
                                <div class="bsbb full-width p020 m240 inline-flex">
                                    <p class="btn">{{lists_dict.follow}}</p>
                                    <svg width='20px' height='20px' viewBox='0 0 20 20' class='icon hand' style='margin-top:-7px;margin-left:10px;transform: rotate(90deg);'>
                                        <g>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 12 C 12.998437 12.553125 12.553125 12.998437 12 12.998437 C 11.446875 12.998437 11.001563 12.553125 11.001563 12 C 11.001563 11.446875 11.446875 11.001563 12 11.001563 C 12.553125 11.001563 12.998437 11.446875 12.998437 12 Z M 12.998437 12" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 5.001562 C 12.998437 5.55 12.553125 6 12 6 C 11.446875 6 11.001563 5.55 11.001563 5.001562 C 11.001563 4.448437 11.446875 3.998437 12 3.998437 C 12.553125 3.998437 12.998437 4.448437 12.998437 5.001562 Z M 12.998437 5.001562" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                            <path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;" d="M 12.998437 18.998437 C 12.998437 19.551562 12.553125 20.001562 12 20.001562 C 11.446875 20.001562 11.001563 19.551562 11.001563 18.998437 C 11.001563 18.45 11.446875 18 12 18 C 12.553125 18 12.998437 18.45 12.998437 18.998437 Z M 12.998437 18.998437" transform="matrix(0.833333,0,0,0.833333,0,0)"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="bsbb full-width" style="text-align:center">
                    <i class="fa fa-chevron-down cg2" aria-hidden="true" style="margin-top:33px;"></i>
                </div>
                <div class="thick-line" style="margin-top: 14px;"></div>
            </div>
        </div>
    </body>
</html>