{% load static %}
{% include 'includes/general/basic_head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
    </head>
    <body class="{{darkmode}}">
        <div class="full-width bcg sign-body">
            <div class="horizontally-centered-auto-width">
                <div class="p040 ml30 mt60">
                    <a href="/" title="Sosyorol">
                        <picture class="logo-picture">
                            {% if dark == 'dark' %}
                                <source id="logo3" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo3-dark.webp' %}" type="image/webp">
                                <source id="logo2" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo1-dark.jpg' %}" type="image/jpeg"> 
                                <img id="logo1" class="full non-draggable" src="{% static 'assets/img/header/sosyorol-logo1-dark.jpg' %}" alt="Sosyorol">
                            {% else %}
                                <source id="logo3" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo3.webp' %}" type="image/webp">
                                <source id="logo2" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo1.jpg' %}" type="image/jpeg"> 
                                <img id="logo1" class="full non-draggable" src="{% static 'assets/img/header/sosyorol-logo1.jpg' %}" alt="Sosyorol">
                            {% endif %}
                        </picture>
                    </a><br>
                    <p class="mt20 p100 cg fwmedium">{{page_dict.slogan}}.</p>
                </div>
                <div class="bsbb p40 m20 bcw br30 full-shadow2 w428">
                    <p class="ctitle fwbold fs19">{{page_dict.havingtroubleloggingin}}</p>
                    <p class="cg mt10">{% autoescape off %}{{page_dict.resetpassinfo}}{% endautoescape %}</p>
                    <form method="POST" name="verification-form" onsubmit="return sendPassResetEmail();">
                        {% csrf_token %}
                        <input class="bsbb cg full-width p20 mt20 bcw br30 border" type="text" name="email" id="email" placeholder="{{page_dict.emailplaceholder}}">
                        <input type="submit" class="bsbb full-width p20 m200 bcb cw br20 full-shadow2 fwbold hand" value="{{page_dict.resetpassword}}" id="submit_btn" name="submit_btn">
                    </form>
                    <div class="full-width inline-block">
                        <div class="left">
                            <p class="cg mt10">{{page_dict.dontyouhaveanaccount}} <a href="/signup" class="cb">{{page_dict.signup}}</a></p>
                            <p class="cg mt10">{{page_dict.alreadyhaveaccount}}? <a href="/" class="cb">{{page_dict.signin}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyA9jeHII9FVkhOQfCM_NyoifnN8eIN6EFM",
                authDomain: "sosyorol-b6ab6.firebaseapp.com",
                databaseURL: "https://sosyorol-b6ab6.firebaseio.com",
                projectId: "sosyorol-b6ab6",
                storageBucket: "sosyorol-b6ab6.appspot.com",
                messagingSenderId: "565098272319",
                appId: "1:565098272319:web:5105dd611ce14cf98c8a8a",
                measurementId: "G-18ZNPD8JH4"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
            function sendPassResetEmail(){
                var auth = firebase.auth();
                var emailAddress = document.getElementById("email").value;

                auth.sendPasswordResetEmail(emailAddress).then(function() {
                    displayAlert("{{page_dict.passresetemailsentmsg}}");
                }).catch(function(error) {
                // An error happened.
                });
                return false;
            }
        </script>
        {% include 'includes/sign_footer.html' %}
    </body>
</html>