{% load static %}
{% include 'includes/general/basic_head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
    </head>
    <body class="{{darkmode}}">
        <div class="full-width bcg">
            <div class="sign-container sign-body">
                <div class="full-width inline-flex">
                    <div class="bsbb half-width p200 mt60 ml-20">
                        <div class="p040 ml30">
                            <picture class="logo-picture">
                                {% if dark == 'dark' %}
                                    <source id="logo3" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo3-dark.webp' %}" type="image/webp">
                                    <source id="logo2" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo1-dark.jpg' %}" type="image/jpeg"> 
                                    <img id="logo1" class="full non-draggable" src="{% static 'assets/img/header/sosyorol-logo1-dark.jpg' %}" alt="Sosyorol">
                                {% else %}
                                    <source id="logo3" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo3.webp' %}" type="image/webp">
                                    <source id="logo2" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo1.jpg' %}" type="image/jpeg"> 
                                    <img id="logo1" class="full non-draggable" src="{% static 'assets/img/header/sosyorol-logo1.jpg' %}" alt="Sosyorol">
                                {% endif %}
                            </picture><br>
                            <p class="mt20 p100 cg fwmedium">{{page_dict.slogan}}.</p>
                        </div>
                        <div class="full-width">
                            <div class="bsbb p40 m20 bcw br30 full-shadow2 w428">
                                <form method="POST" name="signin_form" id="signin_form">
                                    {% csrf_token %}
                                    <input type="hidden" name="uid">
                                </form>
                                <form method="POST" name="login-form" onsubmit="return submitForm()">
                                    {% csrf_token %}
                                    <input class="bsbb cg full-width p20 bcw br20 border" type="text" name="email" placeholder="{{ page_dict.emailorphone }} / {{page_dict.username}}" onkeyup="validateForm();">
                                    <input class="bsbb cg full-width p20 mt20 bcw br20 border" name="password" type="password" placeholder="{{page_dict.password}}" onkeyup="validateForm();" autocomplete="on">
                                    <input type="submit" disabled class="bsbb full-width p20 m200 bcb cw br20 full-shadow2 fwbold hand" value="{{page_dict.signin}}" name="login_btn">
                                </form>
                                <a href="/accounts/password/reset/" class="ml20 cg fwmedium">{{page_dict.forgottenpass}}?</a>
                                <div class="full-width bt m200"></div>
                                <p class="cg">{{page_dict.dontyouhaveanaccount}} <a href="/signup" class="cb">{{page_dict.signup}}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="bsbb half-width p20">
                        <div class="full-width inline-block mt60">
                            <div class="bsbb p40 m20 bcw br20 full-shadow2 right mr-40 w428">
                                <p class="full-width tac cg mb20">{{page_dict.sosyorolinfo}}.</p>
                                <div class="bsbb full-width p20 bcw br20 full-shadow2 fwmedium inline-flex mt20 hand" id="facebookLogin">
                                    <img src="{% static 'assets/img/icons/facebook-btn-icon.png' %}" class="sqr20">
                                    <p class="lh20 fwmedium ml20">{{page_dict.signinwithfacebook}}</p>
                                </div>
                                <div class="bsbb full-width p20 bcw br20 full-shadow2 fwmedium inline-flex mt20 hand" id="googleLogin">
                                    <img src="{% static 'assets/img/icons/google-btn-icon.png' %}" class="sqr20">
                                    <p class="lh20 fwmedium ml20" >{{page_dict.signinwithgoogle}}</p>
                                </div>
                                <div class="bsbb full-width p20 bcw br20 full-shadow2 fwmedium inline-flex mt20 hand" id="twitterLogin">
                                    <img src="{% static 'assets/img/icons/twitter-btn-icon.png' %}" class="sqr20">
                                    <p class="lh20 fwmedium ml20">{{page_dict.signinwithtwitter}}</p>
                                </div>
                                <div class="full-width bt m200"></div>
                                <p class="bsbb p020 cg full-width tac">By continuing you indicate that you have read and agree to Sosyorol's <a href="" class="cb">Terms of Service</a> and <a href="" class="cb">Privacy Policy</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if error_msg %}
            <script>
                displayAlert('{{error_msg}}');
            </script>
        {% endif %}
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>
        <script type="text/javascript" src="{% static 'js/firebase.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
        {% include 'includes/sign_footer.html' %}
    </body>
</html>