{% load static %}
{% include 'includes/general/basic_head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
    </head>
    <body class="{{darkmode}}">
        <div class="full-width bcg sign-body">
            <div class="horizontally-centered-auto-width">
                <div class="p040 ml30 mt60">
                    <a href="/" title="Sosyorol">
                        <picture class="logo-picture">
                            {% if dark == 'dark' %}
                                <source id="logo3" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo3-dark.webp' %}" type="image/webp">
                                <source id="logo2" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo1-dark.jpg' %}" type="image/jpeg"> 
                                <img id="logo1" class="full non-draggable" src="{% static 'assets/img/header/sosyorol-logo1-dark.jpg' %}" alt="Sosyorol">
                            {% else %}
                                <source id="logo3" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo3.webp' %}" type="image/webp">
                                <source id="logo2" class="full non-draggable" srcset="{% static 'assets/img/header/sosyorol-logo1.jpg' %}" type="image/jpeg"> 
                                <img id="logo1" class="full non-draggable" src="{% static 'assets/img/header/sosyorol-logo1.jpg' %}" alt="Sosyorol">
                            {% endif %}
                        </picture>
                    </a><br>
                    <p class="mt20 p100 cg fwmedium">{{page_dict.slogan}}.</p>
                </div>
                <div class="bsbb p40 m20 bcw br30 full-shadow2 w428">
                    <p class="title fs19">{{page_dict.resetpassword}}</p>
                    <form method="POST" name="verification-form" onsubmit="return resetPassword('{{page_dict.notmatchingpasserror}}', '{{mode}}', '{{oobCode}}');">
                        {% csrf_token %}
                        <input class="bsbb cg full-width p20 mt20 bcw br30 border" type="password" name="pass1" id="pass1" placeholder="{{page_dict.password}}" onkeyup="validateForm();">
                        <input class="bsbb cg full-width p20 mt20 bcw br30 border" type="password" name="pass2" id="pass2" placeholder="{{page_dict.verify}} {{page_dict.password}}" onkeyup="validateForm();">
                        <input type="submit" class="bsbb full-width p20 m200 bcb cw br20 full-shadow2 fwbold hand" value="{{page_dict.resetpassword}}" id="submit_btn" name="submit_btn" disabled>
                    </form>
                    <div class="full-width inline-block">
                        <div class="left">
                            <p class="cg mt10">{{page_dict.dontyouhaveanaccount}} <a href="/signup" class="cb">{{page_dict.signup}}</a></p>
                            <p class="cg mt10">{{page_dict.alreadyhaveaccount}}? <a href="/" class="cb">{{page_dict.signin}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>
        <script type="text/javascript" src="{% static 'js/firebase.min.js' %}"></script>
        <script>
            function validateForm(){
                var pass1 = document.getElementById("pass1").value;
                var pass2 = document.getElementById("pass2").value;
                if(pass1.length < 6 || pass2.length < 6){
                    document.getElementById("submit_btn").disabled = true;
                }else{
                    document.getElementById("submit_btn").disabled = false;
                }
            }
            function resetPassword(notMatchingErr, mode, actionCode){
                var auth = firebase.auth();
                var pass1 = document.getElementById("pass1").value;
                var pass2 = document.getElementById("pass2").value;
                if (pass1 != pass2){
                    displayAlert(notMatchingErr);
                }else{
                    var lang = 'en';
                    handleResetPassword(auth, actionCode, lang);
                }
                return false;
            }

            function handleResetPassword(auth, actionCode, lang) {
                // Localize the UI to the selected language as determined by the lang
                // parameter.
                var accountEmail;
                // Verify the password reset code is valid.
                auth.verifyPasswordResetCode(actionCode).then(function(email) {
                    var accountEmail = email;

                    var newPassword = document.getElementById("pass1").value;

                    // Save the new password.
                    auth.confirmPasswordReset(actionCode, newPassword).then(function(resp) {
                    // Password reset has been confirmed and new password updated.
                        displayAlert("Your password has been changed succesfully!");
                    }).catch(function(error) {
                    // Error occurred during confirmation. The code might have expired or the
                    // password is too weak.
                        displayAlert(error.message);
                    });
                }).catch(function(error) {
                    // Invalid or expired action code. Ask user to try to reset the password
                    // again.
                    displayAlert(error.message);
                });
            }
        </script>
        {% include 'includes/sign_footer.html' %}
    </body>
</html>